@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600:700:700:800:900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #262a2f;
    font-family: 'Nunito', sans-serif;
}

.container {
    max-width: 400px;
    width: 100%;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.box {
    max-width: 400px;
    width: 100%;
    background: #fafafa;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

/* .box::before {
    content: '';
    position: absolute;
    height: 108%;
    width: 108%;
    left: -4%;
    top: -4%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0. 15);
    border-radius: 50px;
    z-index: -1;
} */

h1 {
    font-weight: bold;
    font-size: 24px;
    padding: 30px 0;
}

.content {
    padding: 0 35px;
}

.input {
    background: #FFF;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0. 15);
    border-radius: 28px;
    padding: 18px 0;
    margin-bottom: 18px;
}

.input label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    margin-bottom: 18px;
}

.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid #4f7df9;
    width: 60%;
    text-align: center;
    font-size: 24px;
}

button#calculate {
    font-family: 'Nunito',sans-serif;
    color: #fff;
    background: #4070f4;
    font-size: 14px;
    border-radius: 12px;
    padding: 10px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: background .2s ease;
    cursor: pointer;
}

button#calculate:hover {
    background: #0044ff;
}

.result {
    padding: 25px 15px;
}

.result p {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 13px;
}

.result #result {
    font-size: 34px;
    font-weight: 700;
    color: #4070f4;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 40px;
    margin-bottom: 23px;
}

#comment {
    color: #4070f4;
    font-weight: 700;
}